@model WebApplication3.Models.Post

@{
    ViewData["Title"] = "Delete";
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Depts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="delete-container">
        <h1 class="mt-4">删除</h1>

        <h3>您确定要删除此项吗？</h3>
        <div>
            <h4>职位</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    职位名称
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Pname)
                </dd>
                <dt class="col-sm-2">
                    部门导航
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DidNavigation.Did)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Pid" />
                <input type="submit" value="删除" class="btn btn-danger" /> |
                <a asp-action="Index">返回列表</a>
            </form>

            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
</body>
</html>