@model WebApplication3.Models.Post

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Depts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">详细信息</h1>

        <div class="details-container">
            <h4>职位</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    职位名称
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Pname)
                </dd>
                <dt class="col-sm-2">
                    部门导航
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DidNavigation.Did)
                </dd>
            </dl>
        </div>
        
        <div class="back-to-list">
            <a asp-action="Edit" asp-route-id="@Model?.Pid">编辑</a> |
            <a asp-action="Index">返回列表</a>
        </div>
    </div>
</body>
</html>