@model WebApplication3.Models.Dept

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Depts.css">
</head>
<body>
<h1>创建部门</h1>

<h4>部门信息</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-container">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Did" class="control-label">部门ID</label>
                    <input asp-for="Did" class="form-control" />
                    <span asp-validation-for="Did" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dname" class="control-label">部门名称</label>
                    <input asp-for="Dname" class="form-control" />
                    <span asp-validation-for="Dname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dtel" class="control-label">部门电话</label>
                    <input asp-for="Dtel" class="form-control" />
                    <span asp-validation-for="Dtel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="创建" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

    <div class="back-to-list">
        <a asp-action="Index">返回列表</a>
    </div>
</body>
</html>